# Tuplas

Estrutura de Dados => Formas de armazenamento de Dados

- São definidas usando parênteses ' ( ) ';
- A Tupla necessita de um nome;
- cada item é acessado pelo seu índice numérico (semelhante à Listas);
- Tuplas são como Listas, mas a diferença entre Tuplas e a Lista, é que a Tupla é IMUTAVEL! 

Exemplo:

frutas = ("uva", "pera")
print(frutas[1]) 

*irá imprimir:*

pera

# Dicionários

- São definidos usando chaves ' { } ';
- necessita de um nome;
- cada item tem = uma chave e o seu valor.

Exemplo:

dados = { nome: "João", idade: 30 }

print(dados[nome])

*irá imprimir:*

João

In [3]:
# Usando Tuplas

venda = ("Jorge", "20/05/2024", "Iphone 14", 3000)

# Como a Tupla é IMUTAVEL, essa é uma das formas de utilizar seus dados:
nome = venda[0]
data_venda = venda[1]
produto = venda[2]
valor = venda[3]

print(nome, data_venda, produto, valor)

Jorge 20/05/2024 Iphone 14 3000

In [4]:
# Podemos utilizar o UNPACKING (Desempacotar) para pegar TODOS os itens da Tupla de uma só vez

carro = ("Fiat", "Uno", "1996", "gasolina", "CBN8765") # 5 itens no total

marca, modelo, ano, combustivel, placa = carro # 5 variaveis no total e na ordem que está declarado de acordo com a tupla. Isso é um UNPACKING

print(marca, modelo, ano, combustivel, placa)

Fiat Uno 1996 gasolina CBN8765

In [6]:
# Se você não usar o mesmo número de itens, o unpacking dará um ERRO:

carro2 = ("Fiat", "Uno", "1996", "gasolina", "CBN8765") # 5 itens no total

marca, modelo, ano, combustivel = carro2 #removemos a variavel 'placa', dando um erro! O mesmo se for o contrário, removendo um item e mantendo a variavel

ValueError: too many values to unpack (expected 4)

In [7]:

carro3 = ("Fiat", "Uno", "1996", "gasolina") 
marca, modelo, ano, combustivel, placa = carro3 # O mesmo se for o contrário, removendo um item e mantendo a variavel

print(marca, modelo, ano, combustivel, placa)

ValueError: not enough values to unpack (expected 5, got 4)

In [11]:
# o enumerate deve ser usado em uma interavel e gera uma tupla de tuplas, onde o primeiro era o indice e o segundo item era o valor

vendas = [1000, 2000, 300, 300, 150]

for venda in enumerate(vendas):
    print(venda)

(0, 1000)
(1, 2000)
(2, 300)
(3, 300)
(4, 150)

In [13]:
# Exemplo do uso de Tuplas em Loops

vendas = [1000, 2000, 300, 300, 150]
funcionarios = ["João", "Lira", "Ana", "Maria", "Paula"]

for item in enumerate(vendas):
    i, vendas = item
    print(i)
    print(vendas)
    print(funcionarios[i])
    print("-" * 6)

0
1000
João
------
1
2000
Lira
------
2
300
Ana
------
3
300
Maria
------
4
150
Paula
------

In [15]:
# UNPACKING 'fora' dor for, no momento da sua declaração

vendas = [1000, 2000, 300, 300, 150]
funcionarios = ["João", "Lira", "Ana", "Maria", "Paula"]

for i, vendas in enumerate(vendas):
    print(i)
    print(vendas)
    print(funcionarios[i])
    print("-" * 6)

0
1000
João
------
1
2000
Lira
------
2
300
Ana
------
3
300
Maria
------
4
150
Paula
------

In [22]:
# DESAFIO - Faça com que ele imprima uma frase dizendo quanto o funcionário vendeu. A frase deve incluir o nome e o valor

vendas = [1000, 2000, 300, 300, 150]
funcionarios = ["João", "Lira", "Ana", "Maria", "Paula"]

for i, vendas in enumerate(vendas):
    print(f"O funcionário {funcionarios[i]} vendeu {vendas}")
    print("-" * 32)

O funcionário João vendeu 1000
------------
O funcionário Lira vendeu 2000
------------
O funcionário Ana vendeu 300
------------
O funcionário Maria vendeu 300
------------
O funcionário Paula vendeu 150
------------