# titulo nivel 1
## titulo nivel 2
### titulo nivel 3

In [2]:
print("Olá, Mundo!")

Olá, Mundo!

In [3]:
print("Eu sou uma String, preciso de aspas (duplas ou não) entre o texto para funcionar...")

Eu sou uma String, preciso de aspas (duplas ou não) entre o texto para funcionar...

In [5]:
# eu sou um comentario
# utilize \n para quebrar as linhas dentro de uma String

print("Este texto \n será quebrado \n em várias \n linhas...") # \n é um character de espaço

Este texto
 será quebrado
 em várias
 linhas...

# Podemos fazer um texto pré-formatado com 3 aspas

In [6]:
print("""  Olá, eu sou um texto pré-formatado
            eu vou aparecer na tela
            
        exatamente do jeito 
        
        que você me definir aqui!""")

  Olá, eu sou um texto pré-formatado
            eu vou aparecer na tela

        exatamente do jeito

        que você me definir aqui!

### Concatenação de Strings

In [7]:
print("Concatenando " + "Strings")

Concatenando Strings

In [8]:
print("Concatenando " + "Strings" + ".Lembre-se de dar os espaços adequados " + "se não o texto ficará com as palavras coladas umas nas outras")

Concatenando Strings.Lembre-se de dar os espaços adequados se não o texto ficará com as palavras coladas umas nas outras

In [9]:
print("Concatenar", "usando virgulas,", "não é necessário colocar espaços")

Concatenar usando virgulas, não é necessário colocar espaços

### Operações aritméticas

In [10]:
print("9" + "9") # Neste caso, será entendio pelo Python como String

99

In [11]:
print( 9 + 9 ) # Sem Strings, eles serão números e o mais, passa a ser adição

18

In [12]:
print(5 + (5 *(5/5)))

10.0

In [13]:
print( 10 / 2 ) # O operador de / (divisão), sempre dará um resultado tipo float(DECIMAL)

5.0

In [14]:
print( 10 / 3 )

3.3333333333333335

In [15]:
print( int(10 / 3) ) # A funçãoi int() converte um valor para inteiro

3

In [ ]:
print( "Eu tenho " + 28 + " anos de idade."  ) # ERRO: A concatenação deve ocorrer com os mesmos tipos de dados

TypeError: can only concatenate str (not "int") to str

In [17]:
print( "Eu tenho " + str(28) + " anos de idade."  ) # A função str() converte o número para String

Eu tenho 28 anos de idade.

In [18]:
print( 10 // 3 ) # O operador // faz uma divisão inteira

3

In [19]:
print(11 % 2) # Operador % me dá o resto da divisão

1

### Resumo: Operadores aritméticos
###### + soma
###### - subtração
###### * multiplicação
###### / divisão
###### // divisão se torna int
######  ** potenciação
###### % resto

### Conversores de tipo de dado:
######  int() - converte para inteiro
######  str() - converte para string
######  float() - converte para float
######  bool() - converte para booleano

In [22]:
print(5**2)
print(3**2)
print(2**3)

25
9
8

### Tipos Booleano (boolean)

In [24]:
# O tipo booleano é um dado binário que pode ser TRUE ou FALSE
# para ele dar um resultado booleano, você precisa fornecer uma afirmação para ele avaliar

print( 5 == 5 )

True

In [25]:
print( 5 != 5 )

False

In [26]:
print(10 > 5)

True

In [27]:
print(10 < 5)

False

In [28]:
print(5 >= 5)

True

### Resumo dos Operadores lógicos:

###### > maior
###### < menor
###### >= maior ou igual
###### <= menor ou igual
###### == igual a
###### != diferente de