# Definindo tamanhos de títulos no Markdown:
 
# titulo nivel 1
## titulo nivel 2
### titulo nivel 3

In [20]:
print("Olá, Mundo!")

Olá, Mundo!

In [5]:
print("Eu sou uma String, preciso de aspas (duplas ou não) entre o texto para funcionar...")

Eu sou uma String, preciso de aspas (duplas ou não) entre o texto para funcionar...

In [6]:
# eu sou um comentario
# utilize \n para quebrar as linhas dentro de uma String

print("Este texto \n será quebrado \n em várias \n linhas...") # \n é um character de espaço

Este texto
 será quebrado
 em várias
 linhas...

# 2.0 - Podemos fazer um texto pré-formatado com 3 aspas

In [9]:
print("""  
Olá, eu sou um texto pré-formatado
            eu vou aparecer na tela
            
exatamente do jeito 
    que você me definir aqui!""")

Olá, eu sou um texto pré-formatado
            eu vou aparecer na tela

exatamente do jeito
    que você me definir aqui!

### Concatenação de Strings

In [7]:
print("Concatenando " + "Strings")

Concatenando Strings

In [10]:
print("Concatenando " + "Strings" + ". Lembre-se de dar os espaços adequados " + "se não o texto ficará com as palavras coladas umas nas outras")

Concatenando Strings. Lembre-se de dar os espaços adequados se não o texto ficará com as palavras coladas umas nas outras

## Concatenar com ' , ' virgulas (commas)

In [11]:
print("Concatenar", "usando virgulas,", "não é necessário colocar espaços")

Concatenar usando virgulas, não é necessário colocar espaços

### Operações aritméticas

In [12]:
print("9" + "9") # Neste caso, será entendio pelo Python como String

99

In [13]:
print( 9 + 9 ) # Sem Strings, eles serão números e o mais, passa a ser adição

18

In [14]:
print(5 + (5 *(5/5)))

10.0

In [15]:
print( 10 / 2 ) # O operador de / (divisão), sempre dará um resultado tipo float(DECIMAL)

5.0

In [16]:
print( 10 / 3 )

3.3333333333333335

In [17]:
print( int(10 / 3) ) # A funçãoi int() converte um valor para inteiro

3

In [ ]:
print( "Eu tenho " + 28 + " anos de idade."  ) # ERRO: A concatenação deve ocorrer com os mesmos tipos de dados

TypeError: can only concatenate str (not "int") to str

In [ ]:
print( "Eu tenho " , 28 , " anos de idade."  ) # Porém, com o uso da ' , ' (vírgula) essa manipulação pode ocorrer, sem problemas.

Eu tenho  28  anos de idade.

In [ ]:
print( "Eu tenho " + str(28) + " anos de idade."  ) # A função str() converte o número para String. Esse processo é chamado de "conversão", na programação

Eu tenho 28 anos de idade.

In [ ]:
print( 10 // 3 ) # O operador // faz uma divisão inteira

3

In [ ]:
print(11 % 2) # Operador % me dá o resto da divisão

1

### Resumo: Operadores aritméticos
###### + soma
###### - subtração
###### * multiplicação
###### / divisão
###### // divisão se torna int
######  ** potenciação
###### % resto

### Conversores de tipo de dado:
######  int() - converte para inteiro
######  str() - converte para string
######  float() - converte para float
######  bool() - converte para booleano

In [ ]:
print(5**2)
print(3**2)
print(2**3)

25
9
8

### Tipos Booleano (boolean)

In [ ]:
# O tipo booleano é um dado binário que pode ser TRUE ou FALSE
# para ele dar um resultado booleano, você precisa fornecer uma afirmação para ele avaliar

print( 5 == 5 )

True

In [ ]:
print( 5 != 5 )

False

In [ ]:
print(10 > 5)

True

In [ ]:
print(10 < 5)

False

In [ ]:
print(5 >= 5)

True

### Resumo dos Operadores lógicos:

###### > maior
###### < menor
###### >= maior ou igual
###### <= menor ou igual
###### == igual a
###### != diferente de

In [10]:
def verificador_ano_bissexto(ano):
    ano = int(ano)

    if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
        print("SIM")
    else:
        print("NÃO")


decidir_ano = input()
verificador_ano_bissexto(decidir_ano)

SIM